@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Treat
<div class="card-header">
    <h4>Add a new treat!!</h4>
</div>

<div class="card-body">
    @using (Html.BeginForm())
    {
   
            @Html.LabelFor(model => model.Name)<br>
            <input data-val="true" data-val-length="The field Name must be a string with a maximum length of 200." data-val-length-max="200" maxlength="200" required id="Name" name="Name" type="text" value=""><hr>
   
            @Html.LabelFor(model => model.Description)<br>
            <input data-val="true" data-val-length="The field Description must be a string with a maximum length of 200." data-val-length-max="200" id="Description" name="Description" type="text" maxlength="200" required value=""><hr>

     
            @Html.LabelFor(model => model.Ingredients)<br>
            <input data-val="true" data-val-length="The field Ingredients must be a string with a maximum length of 60000." data-val-length-max="60000" id="Ingredients" name="Ingredients" type="text" value="" maxlength="60000"><hr>


            @Html.LabelFor(model => model.Rating)<br>
            <!-- might need id of rating? -->
            <select  name="Rating">
                <!-- need name=rating? -->
                    <option>Select Rating</option> 
                    <!-- 1 star -->
                    <option value="1">&#127775;</option> 
                    <!-- 2 star -->
                    <option value="2">&#127775; &#127775; </option> 
                    <!-- 3 star-->
                    <option value="3">&#127775; &#127775; &#127775; </option> 
                    <!-- 4 star -->
                    <option value="4">&#127775; &#127775; &#127775; &#127775; </option> 
                    <!-- 5 star-->
                    <option value="5">&#127775; &#127775; &#127775; &#127775; &#127775;</option> 
            </select><hr>


            @Html.Label("Select flavor")<br>
            @Html.DropDownList("FlavorId")<hr>

        <input type="submit" value="Add new treat" class="btn btn-outline-success"/>
    }
</div>
<div class="card-footer">
    <a class="btn btn-outline-success" href="/Treats">Show all Treats</a>     
    <a class="btn btn-outline-info" href="/">Home</a>                                            
</div>