@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Treat

<div class="card-header">
    <h2>Treat Details</h2>
</div>
<div class="card-body">
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
    <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

    <h4>Flavors: </h4>
    <hr/>
  
    @foreach (var join in Model.Flavors)
    {
        

        @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {
            <h5>@join.Flavor.Name</h5>
            @Html.Hidden("joinId", @join.FlavorTreatId)
            <input class="btn btn-danger btn-sm" type="submit" value="Delete"/>
            <hr/>
        }

    }
    
</div>
<div class="card-footer">
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<a class="btn btn-outline-info" href="/">Home</a>
<a class="btn btn-outline-secondary" href="/Treats">Back</a>   
</div>